### SELECT Query

In [ ]:
SELECT col1, col2
FROM table1
JOIN table2 ON table1.col = table2.col
WHERE condition
GROUP BY column_name
ORDER BY col1 ASC|DESC;